@charset "utf-8";
@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");

/*Var
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:50px 0;}

#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{display:inline-block; position:relative; padding-bottom:8px; font-size:32px;}
#header #logo h1::before, #header #logo h1::after{display:block; position:absolute; bottom:0; width:100%; height:1px; content:"";}/* Creates the 2 lines underneath the logo */
#header #logo h1::before{bottom:3px;}
#header #logo h1 span{text-transform:uppercase;}

#header div:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */

#header ul li div{position:relative; min-height:30px; padding:0 0 0 35px; line-height:1;}
#header ul li div i{position:absolute; top:0; left:0; width:25px; height:23px; font-size:20px; text-align:center;}
#header ul li div span{display:block;}
#header ul li div strong{display:block; margin:0 0 8px 0;}

/* BUSCADOR
--------------------------------------------------------------------------------------------------------------- */
#searchform{display:block; position:relative; float:right; height:58px; line-height:1; z-index:999;}

#searchform::after{display:block; height:58px; line-height:58px; padding:0 15px; font-size:20px; font-family:"Font Awesome\ 5 Free"; font-weight:900; content:"\f002"/* fa-search */;}
#searchform:hover::after, #searchform button{cursor:pointer;}
#searchform > div{position:absolute; top:58px; right:0; width:280px; visibility:hidden; opacity:0/* Required for transition effect */;}
#searchform:hover > div{visibility:visible; opacity:1/* Required for transition effect */;}
#searchform form{display:block; position:relative;}
#searchform form *{border:none;}
#searchform input{display:block; width:100%; height:36px; padding:8px 40px 8px 10px; font-size:1rem;}
#searchform ::placeholder{text-transform:capitalize;}
#searchform button{display:block; position:absolute; top:3px; right:2px; height:30px; font-size:16px; line-height:1;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:180px 0;}

#pageintro article{display:block; max-width:60%; margin:0 auto; text-align:center;}
#pageintro .heading{margin-bottom:20px; font-size:4rem;}
#pageintro p:first-of-type{margin:0 0 20px 0; text-transform:uppercase; font-size:1.6rem; letter-spacing:5px;}
#pageintro footer{margin-top:50px;}

/* Navegacion de páginas
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{display:block; float:left;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none; text-align:left;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:block; float:left; position:relative; margin:0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:25px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; width:100%; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}



/* Colores
--------------------------------------------------------------------------------------------------------------- */
body{color:#500505; background-color:#aeecac;}
a{color:#95103B;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#95103B;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#95103B; border-color:#95103B;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.imgover:hover::before{background:rgba(0,0,0,.55);}
.imgover, .imgover:hover::after{color:#95103B;}


/* Rows */
.row0{color:#474747; background-color:#aeecac;}
.row1, .row1 a{color:#FFFFFF; background-color:#0c0c0c;}
.row2{color:#474747; background-color:#F4F4F4;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#C1C2C4; background-color:#323639;}
.row5, .row5 a{color:#C1C2C4; background-color:#2A2D34;}

.gradient{color:#FFFFFF; background:linear-gradient(to bottom right, #8F9297, #C1C2C4);}


/* Header */
#header #logo h1::before{background-color:#474747;}
#header #logo h1::after{background-color:#95103B;}
#header #logo h1 a{color:inherit;}



/* BUSCADOR*/
#searchform{color:rgba(255,255,255,.5); background:#AA5670;}
#searchform:hover{color:#95103B;}
#searchform input{color:#FFFFFF; background:#AA5670;}
#searchform button{color:#FFFFFF; background:transparent;}


/* Page Intro */
#pageintro{color:#f7eff1;}


/* Content Area */
.ringcon{color:#FFFFFF; background-color:#95103B;}
.ringcon::before{background-color:#AA5670; border-color:rgba(255,255,255,.3);}
.ringcon:hover{background-color:#AA5670;}
.ringcon:hover::before{background-color:#95103B;}

.overview a{color:inherit;}
.overview article:hover a{color:#95103B;}

/* Navegacion Paginas */

#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#D5ACBB; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(149,16,59,.5);/* #95103B */ border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#D5ACBB; background-color:#95103B;}
#mainav form select{color:#474747; background-color:#FFFFFF;}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#95103B;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#95103B;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#95103B;}

#backtotop{color:#FFFFFF; background-color:#95103B;}
/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}
@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#header{}

	#mainav{float:none; width:100%; padding:15px 0;}
	#searchform{display:none;}

	#pageintro article{max-width:none;}
	#pageintro .heading{font-size:2rem;}
	#pageintro p:first-of-type{font-size:1rem;}

	.sectiontitle{max-width:none;}

	.overview > li:nth-last-child(-n+3){margin-bottom:30px;}

	
}